/* .header {
  display: flex;
  justify-content: center;
}
html, */
body {
  margin: 0;
  font-family: "Petemoss", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*   background: url("https://images8.alphacoders.com/650/thumb-1920-650686.jpg")
    no-repeat center center fixed; */
  background: url("https://www.xtrafondos.com/wallpapers/resoluciones/15/el-mar-y-la-luna_1280x720_474.jpg")
    no-repeat center center fixed;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*   padding-bottom: 180px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
